body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 1.5rem;
}
#container {
  width: 700px;
  height: auto;
  margin: 20px auto;
  line-height: 2rem;
  white-space: nowrap;
  background: hsl(0, 1%, 34%);
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  cursor: none;
  color: #fff;
}

#timer {
  margin: 10px;
  font-size: 1.2rem;
}

button {
  padding: 10px;
  width: 150px;
  background: #2d2c2c;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.2rem;
  display: none;
}

.correct {
  color: rgb(106, 169, 106);
}
.error {
  color: rgb(93, 34, 34);
}
